<h1 class="mt-4">{{ funcionario.id ? 'Editar' : 'Cadastrar' }} funcionário</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ funcionario.id ? 'Edição' : 'Cadastro' }}</li>
</ol>
<div class="container">
    <form #funcionarioForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Funcionário salvo/editado com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro }}
                </div>
            </div>
        </div>

        <div class="row" *ngIf="funcionario.id">
            <div class="col-md-6">
                <label>ID:</label>
                <input type="text" class="form-control" [ngModel]="funcionario.id" name="id" disabled="true">
            </div>
            <div class="col-md-6">
                <label>Matrícula:</label>
                <input type="text" class="form-control" [ngModel]="funcionario.matricula" name="matricula"
                    disabled="true">
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-6">
                <label>Nome: *</label>
                <input type="text" class="form-control" [(ngModel)]="funcionario.name" name="name">
            </div>
            <div class="col-md-6">
                <label>CPF: *</label>
                <input type="text" class="form-control" [(ngModel)]="funcionario.document" name="document">
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-6">
                <label>Data de nascimento: </label>
                <input type="text" class="form-control" [(ngModel)]="funcionario.birthDate" name="birthDate">
            </div>
            <div class="col-md-6">
                <label>Data de contratação: *</label>
                <input type="text" class="form-control" [(ngModel)]="funcionario.hiringDate" name="hiringDate">
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-6">
                <label>Cargo: *</label>
                <input type="text" class="form-control" [(ngModel)]="funcionario.position" name="position">

                <!-- <label>Cargo: *</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Selecione uma opção...</option>
                    <option>Administrador</option>
                    <option>Gerente</option>
                    <option>Caixa</option>
                    <option>Estoquista</option>
                </select> -->
            </div>
            <div class="col-md-6">
                <label>Setor: </label>
                <input type="text" class="form-control" [(ngModel)]="funcionario.sector" name="sector">

                <!-- <label>Setor: </label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Selecione uma opção...</option>
                    <option>Administrador</option>
                    <option>Gerente</option>
                    <option>Caixa</option>
                    <option>Estoquista</option>
                </select> -->
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-6">
                <label>Status atual: *</label>
                <input type="text" class="form-control" [(ngModel)]="funcionario.employeeStatus" name="employeeStatus">

                <!-- <label>Status atual: *</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Selecione uma opção...</option>
                    <option>Ativo</option>
                    <option>Não ativo</option>
                    <option>Férias</option>
                    <option>Licença</option>
                </select> -->

            </div>
            <div class="col-md-6">
                <label>Tipo de acesso ao sistema: </label>
                <input type="text" class="form-control" [(ngModel)]="funcionario.typeOfAccess" name="typeOfAccess">

                <!-- <label>Tipo de acesso ao sistema: *</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Selecione uma opção...</option>
                    <option>Administrador</option>
                    <option>Gerente</option>
                    <option>Caixa</option>
                    <option>Estoquista</option>
                </select> -->
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-success" *ngIf="!funcionario.id">
                    <i class="fa fa-save"></i> Salvar
                </button>

                <button type="submit" class="btn btn-primary" *ngIf="funcionario.id">
                    <i class="fa fa-sync"></i> Atualizar
                </button>

                <button class="btn btn-outline-secondary ml-2" (click)="voltarParaListaClientes()">
                    <i class="fa fa-arrow-circle-left"></i> Voltar
                </button>
            </div>
        </div>

    </form>
</div>